{% extends "base.html" %}


{% block chat_content %}
    <div class="chat-header d-flex justify-content-between position-relative rounded bg-body-secondary p-2">
        <h1 class="h3 text-center text-white">
            {% if chat.chat_type == 'Private' %}
                {% for member in chat.members.all %}
                    {% if member.user.username != user.username %}
                        {{member.user.username}}
                    {% endif %}
                {% endfor %}
            {% else %}
                {{chat.title}}
            {% endif %}
        </h1>
        <a
            class="btn btn-primary"
            href="{% url 'chat:chat-list' %}"
            role="button"
            >Home</a
        >
        
        <span class="badge position-absolute bg-body-tertiary text-body-emphasis" style="bottom: 3px; left: 10px; font-size: 10px !important;">{{ chat.members_count }}</span>
    </div>
    <div id="message-list">
        {% for message in chat.messages.all %}
            {% if message.message_type == "System" %}
                <div class="row message-item flex-column align-items-center mt-2 ">
                    <div class="text-center h6 bg-secondary rounded py-2 px-2 text-white" style="width: max-content;">{{message.text}}</div>
                </div>
            {% else %}
            
                {% if  message.sender == user %}
                    <div class="row message-item flex-column align-items-end ">
                        <div class="user-display-name  me-1 fw-bold ">You</div>
                        <div class="message bg-custom-primary rounded-bottom-end-0 rounded me-3 text-white mt-1 p-2 pb-3 position-relative" id="message-id">
                            <div class="markdown-content " dir="auto">{{message.text}}</div>
                            <span class="position-absolute date badge start-0 bottom-0 text-body-emphasis">{{message.sended_date|date:"H : m"}}</span>
                        </div>
                    </div>
                {% else %}
                    <div class="row message-item flex-column align-items-start">
                        <div class="user-display-name fw-bold ms-1">{{message.sender.username}}</div>
                        <div class="message bg-custom-dark rounded-bottom-start-0 rounded ms-3 text-body-emphasis mt-1 p-2 pb-3 position-relative" id="message-id">
                            <div class="markdown-content " dir="auto">{{message.text}}</div>
                            <span class="position-absolute date badge end-0 bottom-0 text-body-emphasis">{{message.sended_date|date:"H : m"}}</span>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

        {% endfor %}
            
    </div>
    
    <div class="d-flex input-hub justify-content-between align-items-center mx-1 p-1 rounded-2 bg-custom-secondary my-1">
        <textarea  id="text-input" class="bg-custom-secondary border-0 text-light w-75" placeholder="Enter ..." dir="auto"></textarea>
        <div class="btn-group gap-1">
            <button class="btn  btn-warning">File</button>
            <button class="btn  btn-primary" id="send-message">send</button>
        </div>
    </div>







{% endblock chat_content %}


{% block extra_js %}
    <script>

        function onloadFuction(text, element){
            const rawMarkdown = text; // گرفتن متن خام
            const parsedHtml = marked.parse(rawMarkdown);
            const cleanHtml = DOMPurify.sanitize(parsedHtml);
            console.log(cleanHtml)
            element.innerHTML = cleanHtml;
        }
        const websocket = new WebSocket("ws://"+window.location.host+"/ws/chat/{{chat.chat_id}}/")

        const messageList = $("#message-list");
        const sendMessage = document.getElementById("send-message");
        const textMessage = document.getElementById("text-input");

        $(window).on("load", function(){
            messageList.scrollTop(messageList[0].scrollHeight);
            document.querySelectorAll('.markdown-content').forEach(element => {
                const rawMarkdown = element.textContent; // گرفتن متن خام
                const parsedHtml = marked.parse(rawMarkdown);
                const cleanHtml = DOMPurify.sanitize(parsedHtml);
                element.innerHTML = cleanHtml;
                
            });
            
        })

        
        websocket.onmessage = function(event){
            const data = JSON.parse(event.data)
            console.log(data)

            const messageHtml = marked.parse(data.text);
            const clean = DOMPurify.sanitize(messageHtml);

            messageList.append(`
             <div class="row message-item flex-column align-items-start">
                    <div class="user-display-name fw-bold ms-1">USERNAME</div>
                    <div class="message bg-custom-dark rounded-bottom-start-0 rounded rounded-start-0 ms-3 text-body-emphasis mt-1 p-2 pb-3 position-relative" id="message-${data.message_id}">
                        <p class="markdown-content" dir="auto">${clean}</p>
                        <span class="position-absolute date badge start-0 bottom-0 text-body-emphasis">TIME</span>
                    </div>
                </div>
            `.replace("USERNAME", data.sender).replace("TIME",data.sended_at));
            messageList.scrollTop(messageList[0].scrollHeight);
        };

        sendMessage.addEventListener("click", function(e){
            if (String(textMessage.value).trim()){
                send_message()
            }
        })

        function send_message(){
            const text = textMessage.value;

            const messageHtml = marked.parse(text);

            const clean = DOMPurify.sanitize(messageHtml);
            websocket.send(text);

            const tempMessageID =  Date.now();
            let now = new Date();

            // استخراج ساعت و دقیقه
            let hours = now.getHours();
            let minutes = now.getMinutes();

            // اضافه کردن صفر اگر دقیقه یا ساعت کمتر از 10 باشد
            if (minutes < 10) minutes = '0' + minutes;
            if (hours < 10) hours = '0' + hours;
            messageList.append(`
                <div class="row flex-column align-items-end ">
                    <div class="user-display-name  me-1 fw-bold ">You</div>
                    <div class="message bg-custom-primary rounded-bottom-end-0 rounded me-3 text-white mt-1 p-2  position-relative" id="message-${tempMessageID}">
                       <p class="markdown-content" dir="auto">${clean}</p>
                       <span class="position-absolute date badge end-0 bottom-0 text-body-emphasis">${hours} : ${minutes}</span>
                    </div>
                </div>
            `);

            messageList.scrollTop(messageList[0].scrollHeight);

            textMessage.value = "" ;
        }
    </script>
{% endblock extra_js %}
    
    